*, body {
	font-family: Helvetica, Arial, sans, _sans;
}
a {
	color: black;
}

#top {
	background: grey;
	display: inline-block;
	width: 100%;
}

#title_top {
	float: left;
	margin: 10px;
}

#logo_top {
	width: 10%;
	height: 10%;
	margin: 10px;
	float: right;
}

.topbar {
	display: inline;
	margin: 15px;
}

#top_bar{
	background: dimgrey;
}

#right-side {
	float: right;
	width: 30%;
	height: 100%;
	background: grey;
}

#left-side {
	float: left;
	width: 70%;
	height: 100%;
	background: dimgrey;
}

#contact {
	display: block;
	background: grey;
}

article img {
	width: 100%;
}

#footer {
	background: #000;
	color: #fff;
}